.css3{
  background-color:rgb(159, 233, 243);
  border: 5px solid;
  border-radius: 10px;
}

.css4{
  color:rgb(146, 3, 101);
  font-style: italic;
  font-family: Georgia;
  font-weight:bold;
  word-spacing:2px;
}
